.adjust_center{
    padding: 20px;
}
.container{
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.coloum1{
    width: 25%;

}
.coloum2{
    width: 70%;
}
.bg_cyan{
    background-color: darkcyan;
    margin: 0;
}
.bg_yellow{
    background-color: khaki;
    margin: 0;
}
.bg_green{
    background-color:chartreuse;
}
.bg_pink{
    background-color: hotpink;
}
.bg_gray{
    background-color: gray;
}
input[type="submit"] {
    background-color: #04aa6d;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}
table td input[type="text"],input[type="color"],input[type="tel"],input[type="email"],input[type="date"], textarea{
    width: 80%;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}
.cellONE{
    height: 400px;
}
.cellTWO{
    height: 320px;
}
.cellTHREE{
    height: 330px;
}
